Old versions/telegramFULLWORKIN.json
{
    "nodes": [
      {
        "parameters": {
          "updates": [
            "message"
          ],
          "additionalFields": {
            "download": false
          }
        },
        "id": "f1a1e2b0-1cfd-429a-bbaa-b944d09bd5ac",
        "name": "Telegram Message Trigger",
        "type": "n8n-nodes-base.telegramTrigger",
        "typeVersion": 1.2,
        "position": [
          -1104,
          784
        ],
        "webhookId": "61396260-c024-467a-a04e-d71e2ef4fc83",
        "credentials": {
          "telegramApi": {
            "id": "sl2XyaTKmEdfH4KK",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "2b538077-d3d3-4713-b973-68748313ff97",
                "leftValue": "={{ $json.message.voice }}",
                "rightValue": "",
                "operator": {
                  "type": "object",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -880,
          784
        ],
        "id": "f561a77b-56ab-4a09-893f-cb18d31bd964",
        "name": "Check if Audio file"
      },
      {
        "parameters": {
          "resource": "file",
          "fileId": "={{ $json.message.voice.file_id }}",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -656,
          688
        ],
        "id": "4b5213ed-fb41-49c7-9baa-23e4f8b97193",
        "name": "Get a file",
        "webhookId": "a50f0104-6e43-4a08-90f5-3e1dc050e450",
        "credentials": {
          "telegramApi": {
            "id": "sl2XyaTKmEdfH4KK",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "resource": "audio",
          "operation": "transcribe",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 1.8,
        "position": [
          -432,
          688
        ],
        "id": "c2dcd0c3-70f1-4836-a2eb-16efd2e64e2e",
        "name": "Transcribe audio",
        "credentials": {
          "openAiApi": {
            "id": "n7FcR0fOh99ziM2b",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "eb912219-2436-4f04-8ffc-c1c20eb07344",
                "name": "text",
                "value": "={{ $json.message.text }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -432,
          880
        ],
        "id": "16935086-6f4f-4f5a-a7e1-a59d934e2f92",
        "name": "Set field"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "b78b673d-95a4-4d7c-b6a8-91e25c1d368d",
                "name": "user_id",
                "value": "={{ $node[\"Telegram Message Trigger\"].json.message?.from?.id }}",
                "type": "string"
              },
              {
                "id": "7bb91beb-c6de-414e-ad16-3a029b337bcd",
                "name": "chat_id",
                "value": "={{ $node[\"Telegram Message Trigger\"].json.message?.chat?.id }}",
                "type": "string"
              },
              {
                "id": "d3ba7439-af55-4838-b22d-bfb71a07472e",
                "name": "user_text",
                "value": "={{ $json.text || $json.transcription || $node[\"Telegram Message Trigger\"].json.message?.text || '' }}",
                "type": "string"
              },
              {
                "id": "d4a517fd-6abe-4980-a2ae-9efc6101ff3b",
                "name": "ts",
                "value": "={{ $now }}",
                "type": "string"
              },
              {
                "id": "0a5d5b7b-0f36-4b79-9a9b-7d2a99b86a1f",
                "name": "sessionId",
                "value": "={{ $node[\"Telegram Message Trigger\"].json.message?.chat?.id }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -208,
          784
        ],
        "id": "0894d6be-0fc8-4930-9dae-4bdc69dc1dfc",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "gpt-4.1-nano",
            "mode": "list",
            "cachedResultName": "gpt-4.1-nano"
          },
          "options": {
            "temperature": 0
          }
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "position": [
          16,
          1008
        ],
        "id": "56c8a129-478f-4bbe-a307-026898b95b6b",
        "name": "OpenAI Chat Model (Planner)",
        "credentials": {
          "openAiApi": {
            "id": "n7FcR0fOh99ziM2b",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $('Telegram Message Trigger').first().json.message.chat.id }}",
          "contextWindowLength": 10
        },
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "typeVersion": 1.3,
        "position": [
          144,
          1008
        ],
        "id": "0970c18c-b11a-48ee-b225-2005363ca21d",
        "name": "Simple Memory (Planner)"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Planner for Budget Guardian\nDecide the next step and output ONLY valid JSON via the provided tool.\nRules:\n- Exactly one of runAnalyst or runPrice MUST be true (the other must be false).\n- If unsure/ambiguous or message is general, set runAnalyst=true and runPrice=false.\n- runAnalyst: budgeting, spending, categories, limits, savings, analyze transactions or numbers, plans.\n- runPrice: cheaper/deals/discounts/coupons/compare/merchant/product/where to buy; product/merchant names, promo codes, student discounts.\n- price_queries: if runPrice=true, add 1–3 concise queries (include region if relevant, e.g., \"US\", and \"student discount\" if applicable).\n- questions_for_user: at most 2 clarifying questions.\nUse the format_final_json_response tool to return your answer. No prose.\n\nUser text:\n{{ $json.user_text }}",
          "hasOutputParser": true,
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2.2,
        "position": [
          144,
          784
        ],
        "id": "f111b3f1-c0ed-416b-9600-aa683c74fded",
        "name": "AI Agent - Planner"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a31a1f3e-2a90-4a4e-8f0a-6b0b2b4f2c01",
                "name": "runAnalyst",
                "value": "={{ (() => { const toBool = (v) => { if (typeof v === 'boolean') return v; if (typeof v === 'string') { const s = v.trim().toLowerCase(); if (['true','1','yes','y'].includes(s)) return true; if (['false','0','no','n'].includes(s)) return false; } if (typeof v === 'number') return v !== 0; return false; }; const getText = () => { const current = $json.user_text; if (typeof current === 'string' && current.trim().length) return current; const fromEdit = $('Edit Fields').item.json.user_text; return typeof fromEdit === 'string' ? fromEdit : ''; }; const text = getText(); const t = text.toLowerCase(); const hints = ['price','prices','cheaper','cheap','cheapest','deal','deals','discount','discounts','coupon','coupons','promo','code','compare','comparison','student plan','student discount','bundle','bundles','where to buy','retailer','merchant','buy','purchase','cost','costs','renewal','subscription price','sale','sales','promo code','best deal','best price','cheapest place']; const hasPrice = hints.some(k => t.indexOf(k) !== -1); const plannerPrice = toBool($json.runPrice); const price = hasPrice || plannerPrice; return !price; })() }}",
                "type": "boolean"
              },
              {
                "id": "b52b8c2a-2c63-4f3a-94cc-0e56d7a7c1f2",
                "name": "runPrice",
                "value": "={{ (() => { const toBool = (v) => { if (typeof v === 'boolean') return v; if (typeof v === 'string') { const s = v.trim().toLowerCase(); if (['true','1','yes','y'].includes(s)) return true; if (['false','0','no','n'].includes(s)) return false; } if (typeof v === 'number') return v !== 0; return false; }; const getText = () => { const current = $json.user_text; if (typeof current === 'string' && current.trim().length) return current; const fromEdit = $('Edit Fields').item.json.user_text; return typeof fromEdit === 'string' ? fromEdit : ''; }; const t = getText().toLowerCase(); const hints = ['price','prices','cheaper','cheap','cheapest','deal','deals','discount','discounts','coupon','coupons','promo','code','compare','comparison','student plan','student discount','bundle','bundles','where to buy','retailer','merchant','buy','purchase','cost','costs','renewal','subscription price','sale','sales','promo code','best deal','best price','cheapest place']; const hasPrice = hints.some(k => t.indexOf(k) !== -1); const plannerPrice = toBool($json.runPrice); return hasPrice || plannerPrice; })() }}",
                "type": "boolean"
              },
              {
                "id": "a28821b7-2b62-4cd2-8beb-b00b02d3d33d",
                "name": "user_text",
                "value": "={{ (() => { const current = $json.user_text; if (typeof current === 'string' && current.trim().length) return current; const fromEdit = $('Edit Fields').item.json.user_text; return typeof fromEdit === 'string' ? fromEdit : ''; })() }}",
                "type": "string"
              },
              {
                "id": "da2b7fb9-7b0d-4a81-9f55-fb0e5d7145bb",
                "name": "price_queries",
                "value": "={{ (() => { const toBool = (v) => { if (typeof v === 'boolean') return v; if (typeof v === 'string') { const s = v.trim().toLowerCase(); if (['true','1','yes','y'].includes(s)) return true; if (['false','0','no','n'].includes(s)) return false; } if (typeof v === 'number') return v !== 0; return false; }; const getText = () => { const current = $json.user_text; if (typeof current === 'string' && current.trim().length) return current; const fromEdit = $('Edit Fields').item.json.user_text; return typeof fromEdit === 'string' ? fromEdit : ''; }; const rawText = getText(); const textLower = rawText.toLowerCase(); const hints = ['price','prices','cheaper','cheap','cheapest','deal','deals','discount','discounts','coupon','coupons','promo','code','compare','comparison','student plan','student discount','bundle','bundles','where to buy','retailer','merchant','buy','purchase','cost','costs','renewal','subscription price','sale','sales','promo code','best deal','best price','cheapest place']; const hasPrice = hints.some(k => textLower.indexOf(k) !== -1); const plannerPrice = toBool($json.runPrice); const shouldPrice = hasPrice || plannerPrice; const existing = Array.isArray($json.price_queries) ? $json.price_queries.filter(q => typeof q === 'string' && q.trim().length) : []; if (!shouldPrice) { return []; } if (existing.length) { return existing.slice(0,3); } const stop = new Set(['find','me','please','you','help','need','want','would','like','look','looking','for','a','an','the','cheap','cheaper','cheapest','price','prices','cost','costs','deal','deals','discount','discounts','where','to','buy','get','in','near','around','waterloo','ontario','canada']); const tokens = rawText.split(/[^a-zA-Z0-9]+/).map(t => t.trim()).filter(Boolean); const filtered = tokens.filter(t => { const lower = t.toLowerCase(); if (stop.has(lower)) return false; return /^[a-z0-9]+$/i.test(t); }); const productTokens = filtered.map(t => t.replace(/^[\"'`]+|[\"'`]+$/g, '')); const product = productTokens.length ? productTokens.join(' ') : (rawText.trim() || 'grocery item'); const location = (() => { if (textLower.includes('kitchener')) return 'Kitchener Ontario'; if (textLower.includes('cambridge')) return 'Cambridge Ontario'; if (textLower.includes('toronto')) return 'Toronto Ontario'; if (textLower.includes('guelph')) return 'Guelph Ontario'; return 'Waterloo Ontario'; })(); const base = product.trim(); const queries = []; const seen = new Set(); const pushQuery = (q) => { const key = q.toLowerCase(); if (!seen.has(key) && q.trim()) { seen.add(key); queries.push(q.trim()); } }; pushQuery('best price ' + base + ' ' + location); pushQuery('cheap ' + base + ' deals ' + location); pushQuery(base + ' discount ' + location); if (!queries.length) { pushQuery(base + ' price ' + location); } return queries.slice(0,3); })() }}",
                "type": "json"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          368,
          784
        ],
        "id": "ed081620-c634-4ebd-a5db-fa383c8fc38a",
        "name": "Normalize Flags"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "dcc09466-5438-4cf2-91ce-4773837a6a31",
                "leftValue": "={{ $json.runAnalyst }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "isTrue",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          592,
          624
        ],
        "id": "a4792701-4dff-4f43-a4ce-8c319b02b1de",
        "name": "If runAnalyst?"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "dcc09466-5438-4cf2-91ce-4773837a6a31",
                "leftValue": "={{ $json.runPrice }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "isTrue",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          608,
          992
        ],
        "id": "abb0f89b-8df8-4bc0-bb51-208c033ccdd4",
        "name": "If runPrice?"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "gpt-4.1-nano",
            "mode": "list",
            "cachedResultName": "gpt-4.1-nano"
          },
          "options": {
            "temperature": 0
          }
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "position": [
          912,
          704
        ],
        "id": "f7c29ceb-54bf-4933-ae13-098a6c7c5e6a",
        "name": "OpenAI Chat Model (Analyst)",
        "credentials": {
          "openAiApi": {
            "id": "n7FcR0fOh99ziM2b",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $('Telegram Message Trigger').first().json.message.chat.id }}",
          "contextWindowLength": 10
        },
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "typeVersion": 1.3,
        "position": [
          1040,
          704
        ],
        "id": "a923eb0e-a10a-4a68-a0fe-267c9faa5f47",
        "name": "Simple Memory (Analyst)"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Financial Analyst Agent\nAnalyze the user's spending text and any embedded transactions (JSON/CSV-like). When data is missing, infer cautiously and ask for what's needed.\nReturn ONLY the fields defined by the connected output parser: insights, top_actions, savings_estimate. Use short strings for arrays.\nInput:\n- user_text: {{ $json.user_text }}",
          "hasOutputParser": true,
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2.2,
        "position": [
          896,
          480
        ],
        "id": "e3694d5a-6df7-457e-8d80-32ed9c498039",
        "name": "AI Agent - Analyst"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "c2d611c7-9833-4cde-8a90-bfb6864a53b0",
                "name": "output",
                "value": "={{ (() => { const a = (typeof $json.analysis === 'object' && $json.analysis) ? $json.analysis : $json; const insights = Array.isArray(a.insights) ? a.insights.slice(0,3) : []; const actions = Array.isArray(a.top_actions) ? a.top_actions.slice(0,3) : []; const se = a.savings_estimate || {}; const weekly = typeof se.weekly === 'number' ? se.weekly : null; const monthly = typeof se.monthly === 'number' ? se.monthly : null; const lines = []; const getUserText = () => { const fromCurrent = $json.user_text; if (typeof fromCurrent === 'string' && fromCurrent.trim().length) return fromCurrent; const fromNormalize = $('Normalize Flags').item.json.user_text; if (typeof fromNormalize === 'string' && fromNormalize.trim().length) return fromNormalize; const fromEdit = $('Edit Fields').item.json.user_text; return typeof fromEdit === 'string' ? fromEdit : ''; }; if (actions.length || insights.length || weekly !== null || monthly !== null) { lines.push('Here’s your quick budget check-in:'); if (actions.length) { lines.push('Top actions:'); actions.forEach((t,i)=>lines.push(`${i+1}. ${t}`)); } if (weekly !== null || monthly !== null) { const w = weekly !== null ? `$${weekly.toFixed(2)}/wk` : ''; const m = monthly !== null ? ` (~$${monthly.toFixed(2)}/mo)` : ''; lines.push(`Est. savings: ${w}${m}`.trim()); } if (insights.length) { lines.push('Notes: ' + insights.join(' | ')); } } else { const ut = getUserText().slice(0,120); if (ut) { lines.push('Got it: ' + ut + '.'); } lines.push('Tell me the goal: analyze your spending or find cheaper options?'); } lines.push('☑️ Want me to set limits or track a category this week?'); return lines.join('\\n'); })() }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1584,
          784
        ],
        "id": "2e1ca0f7-d4f6-4b27-9ceb-7c7bebe5eaa3",
        "name": "Compose Message - Analyst"
      },
      {
        "parameters": {
          "chatId": "={{ $('Telegram Message Trigger').first().json.message.chat.id }}",
          "text": "={{ $json.output }}",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          2000,
          784
        ],
        "id": "d7fade09-ec9d-4a54-aac0-78268f6d8446",
        "name": "Reply in Telegram (Analyst)",
        "webhookId": "6abf7904-74f3-41ac-b395-792a9a2579a4",
        "credentials": {
          "telegramApi": {
            "id": "sl2XyaTKmEdfH4KK",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "gpt-4.1-nano",
            "mode": "list",
            "cachedResultName": "gpt-4.1-nano"
          },
          "options": {
            "temperature": 0
          }
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "position": [
          848,
          1216
        ],
        "id": "b3a81199-60aa-43d2-84c1-fa4c01948119",
        "name": "OpenAI Chat Model (Data Retrieval)",
        "credentials": {
          "openAiApi": {
            "id": "n7FcR0fOh99ziM2b",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}",
          "additionalParameters": {}
        },
        "type": "@brave/n8n-nodes-brave-search.braveSearchTool",
        "typeVersion": 1,
        "position": [
          1104,
          1216
        ],
        "id": "7139d605-bdcd-4ac3-94ad-d14f92bf6280",
        "name": "Brave Search (Retrieval)",
        "credentials": {
          "braveSearchApi": {
            "id": "vr0EyDuMtCwAFnz6",
            "name": "Brave Search account"
          }
        }
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $('Telegram Message Trigger').first().json.message.chat.id }}",
          "contextWindowLength": 10
        },
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "typeVersion": 1.3,
        "position": [
          976,
          1216
        ],
        "id": "65c04225-934f-4b1a-a33e-c5afcdfccd0e",
        "name": "Simple Memory (Retrieval)"
      },
      {
        "parameters": {
          "schemaType": "manual",
          "inputSchema": "{\n  \"type\": \"object\",\n  \"additionalProperties\": false,\n  \"properties\": {\n    \"price_results\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"additionalProperties\": false,\n        \"properties\": {\n          \"merchant\": { \"type\": \"string\" },\n          \"price\": { \"type\": \"string\" },\n          \"title\": { \"type\": \"string\" },\n          \"link\": { \"type\": \"string\" }\n        },\n        \"required\": []\n      },\n      \"minItems\": 0,\n      \"maxItems\": 5\n    }\n  },\n  \"required\": []\n}"
        },
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.3,
        "position": [
          1232,
          1216
        ],
        "id": "4610b9aa-c29b-47e6-b68c-772d3eebaab7",
        "name": "Structured Output Parser (Retrieval)"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Data Retrieval Agent (price/deals)\nUse the Brave Search tool. If price_queries exist, start with those; otherwise derive queries. Look for student discounts, coupon codes, cheaper alternatives, bundles, and trustworthy merchants. Extract prices when possible.\nReturn ONLY price_results as per the connected parser with the 3–5 best results.\nInputs:\n- user_text: {{ $json.user_text }}\n- price_queries: {{ $json.price_queries || [] }}",
          "hasOutputParser": true,
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2.2,
        "position": [
          896,
          992
        ],
        "id": "c8728237-594f-4024-83e4-98137c6ca6cc",
        "name": "AI Agent - Data Retrieval"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "9a5f4fbe-b60f-4f5f-a90d-80c15b7eccdf",
                "name": "output",
                "value": "={{ (() => { const src = $json.price_results || $json.results || $json.offers || []; const items = Array.isArray(src) ? src.slice(0,3) : []; const lines = []; if (!items.length) { lines.push('I could not find prices yet. Can you specify the product or merchant?'); } else { lines.push('Best options I found:'); items.forEach(it => { const merchant = it.merchant || ''; const price = it.price || ''; const title = it.title || ''; const link = it.link || ''; const line = `• ${merchant} – ${price} – ${title}${link ? ' (' + link + ')' : ''}`; lines.push(line); }); } lines.push('Tip: Check student plans and cancel unused subscriptions to save more.'); lines.push('☑️ Want me to set a monthly cap or alerts for this category?'); return lines.join('\\n'); })() }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1584,
          1056
        ],
        "id": "78aba5ba-7684-42ae-ba3e-4861d3d25f04",
        "name": "Compose Message - Price"
      },
      {
        "parameters": {
          "chatId": "={{ $('Telegram Message Trigger').first().json.message.chat.id }}",
          "text": "={{ $json.output }}",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          2000,
          1056
        ],
        "id": "c8c8f30b-9a63-4102-9d85-a97e123779bb",
        "name": "Reply in Telegram (Price)",
        "webhookId": "b567d159-b715-4bfd-ba22-2737f581123f",
        "credentials": {
          "telegramApi": {
            "id": "sl2XyaTKmEdfH4KK",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "schemaType": "manual",
          "inputSchema": "{\n  \"type\": \"object\",\n  \"additionalProperties\": false,\n  \"properties\": {\n    \"runAnalyst\": { \"type\": \"boolean\", \"description\": \"Exactly one of runAnalyst or runPrice must be true.\" },\n    \"runPrice\": { \"type\": \"boolean\", \"description\": \"Exactly one of runAnalyst or runPrice must be true.\" },\n    \"price_queries\": {\n      \"type\": \"array\",\n      \"items\": { \"type\": \"string\" },\n      \"minItems\": 0,\n      \"maxItems\": 3,\n      \"description\": \"If runPrice=true, include 1–3 concise queries; otherwise leave empty.\"\n    },\n    \"questions_for_user\": {\n      \"type\": \"array\",\n      \"items\": { \"type\": \"string\" },\n      \"minItems\": 0,\n      \"maxItems\": 2\n    }\n  },\n  \"required\": [\"runAnalyst\", \"runPrice\", \"price_queries\", \"questions_for_user\"]\n}"
        },
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.3,
        "position": [
          304,
          992
        ],
        "id": "f17f5bc5-d395-4ed3-874a-3fe9bbdf5fbf",
        "name": "Structured Output Parser"
      },
      {
        "parameters": {
          "schemaType": "manual",
          "inputSchema": "{\n  \"type\": \"object\",\n  \"additionalProperties\": false,\n  \"properties\": {\n    \"insights\": { \"type\": \"array\", \"items\": { \"type\": \"string\" }, \"minItems\": 0, \"maxItems\": 5 },\n    \"top_actions\": { \"type\": \"array\", \"items\": { \"type\": \"string\" }, \"minItems\": 0, \"maxItems\": 5 },\n    \"savings_estimate\": {\n      \"type\": \"object\",\n      \"additionalProperties\": false,\n      \"properties\": {\n        \"weekly\": { \"type\": \"number\" },\n        \"monthly\": { \"type\": \"number\" }\n      }\n    }\n  },\n  \"required\": []\n}"
        },
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.3,
        "position": [
          1168,
          704
        ],
        "id": "d3bd58e0-9267-4e29-a9be-f013612c2ec0",
        "name": "Structured Output Parser (Analyst)"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "gpt-4o-mini",
            "mode": "list",
            "cachedResultName": "gpt-4o-mini"
          },
          "options": {
            "temperature": 0.7
          }
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "position": [
          368,
          336
        ],
        "id": "129b8453-20d1-42bf-8829-267a0f117791",
        "name": "OpenAI Chat Model (Direct Response)",
        "credentials": {
          "openAiApi": {
            "id": "n7FcR0fOh99ziM2b",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $('Telegram Message Trigger').first().json.message.chat.id }}",
          "contextWindowLength": 10
        },
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "typeVersion": 1.3,
        "position": [
          496,
          336
        ],
        "id": "c382d253-f1d8-48fc-9084-3b33673822cc",
        "name": "Simple Memory (Direct Response)"
      },
      {
        "parameters": {
          "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}",
          "additionalParameters": {}
        },
        "type": "@brave/n8n-nodes-brave-search.braveSearchTool",
        "typeVersion": 1,
        "position": [
          752,
          336
        ],
        "id": "9c185f8c-e68e-42c1-bb4e-8511dea8576b",
        "name": "Brave Search (Direct Response)",
        "credentials": {
          "braveSearchApi": {
            "id": "vr0EyDuMtCwAFnz6",
            "name": "Brave Search account"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Direct Response AI Assistant\n\nYou are a helpful AI assistant for Budget Guardian. Answer the user's query directly using web search when needed.\n\nFor queries about finding products, prices, or locations:\n- Use Brave Search to find current information\n- Include specific store names and locations\n- Mention prices when available\n- Provide addresses or specific locations in the user's area\n- If the user mentions a city (like Waterloo, Kitchener, etc.), focus on that area\n\nFor general queries:\n- Provide helpful, concise answers\n- Use search when you need current information\n- Be friendly and conversational\n\nUser query: {{ $json.user_text || $('Edit Fields').item.json.user_text }}",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2.2,
        "position": [
          624,
          176
        ],
        "id": "3a874d99-03e4-4249-9816-301493d4e0fc",
        "name": "AI Agent - Direct Response"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "e5f6a7b8-c9d0-1234-ef01-345678901234",
                "name": "output",
                "value": "={{ (() => { const response = $json.output || $json.text || $json.response || ''; if (typeof response === 'string' && response.trim()) { return response; } return 'I found some information for you, but had trouble formatting it. Please try rephrasing your question.'; })() }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1072,
          176
        ],
        "id": "38f3446e-d4b8-469e-ad9f-81146a0eaf43",
        "name": "Compose Message - Direct"
      },
      {
        "parameters": {
          "chatId": "={{ $('Telegram Message Trigger').first().json.message.chat.id }}",
          "text": "={{ $json.output }}",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          1344,
          176
        ],
        "id": "85290b8b-5afc-4aaf-81e6-87d2c5a899b0",
        "name": "Reply in Telegram (Direct)",
        "webhookId": "direct-response-webhook-id",
        "credentials": {
          "telegramApi": {
            "id": "sl2XyaTKmEdfH4KK",
            "name": "Telegram account"
          }
        }
      }
    ],
    "connections": {
      "Telegram Message Trigger": {
        "main": [
          [
            {
              "node": "Check if Audio file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check if Audio file": {
        "main": [
          [
            {
              "node": "Get a file",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Set field",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get a file": {
        "main": [
          [
            {
              "node": "Transcribe audio",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Transcribe audio": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set field": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "AI Agent - Planner",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model (Planner)": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent - Planner",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Simple Memory (Planner)": {
        "ai_memory": [
          [
            {
              "node": "AI Agent - Planner",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent - Planner": {
        "main": [
          [
            {
              "node": "Normalize Flags",
              "type": "main",
              "index": 0
            },
            {
              "node": "AI Agent - Direct Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normalize Flags": {
        "main": [
          [
            {
              "node": "If runAnalyst?",
              "type": "main",
              "index": 0
            },
            {
              "node": "If runPrice?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If runAnalyst?": {
        "main": [
          [
            {
              "node": "AI Agent - Analyst",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If runPrice?": {
        "main": [
          [
            {
              "node": "AI Agent - Data Retrieval",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model (Analyst)": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent - Analyst",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Simple Memory (Analyst)": {
        "ai_memory": [
          [
            {
              "node": "AI Agent - Analyst",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent - Analyst": {
        "main": [
          [
            {
              "node": "Compose Message - Analyst",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Compose Message - Analyst": {
        "main": [
          [
            {
              "node": "Reply in Telegram (Analyst)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model (Data Retrieval)": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent - Data Retrieval",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Brave Search (Retrieval)": {
        "ai_tool": [
          [
            {
              "node": "AI Agent - Data Retrieval",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Simple Memory (Retrieval)": {
        "ai_memory": [
          [
            {
              "node": "AI Agent - Data Retrieval",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "Structured Output Parser (Retrieval)": {
        "ai_outputParser": [
          [
            {
              "node": "AI Agent - Data Retrieval",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent - Data Retrieval": {
        "main": [
          [
            {
              "node": "Compose Message - Price",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Compose Message - Price": {
        "main": [
          [
            {
              "node": "Reply in Telegram (Price)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Structured Output Parser": {
        "ai_outputParser": [
          [
            {
              "node": "AI Agent - Planner",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "Structured Output Parser (Analyst)": {
        "ai_outputParser": [
          [
            {
              "node": "AI Agent - Analyst",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model (Direct Response)": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent - Direct Response",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Simple Memory (Direct Response)": {
        "ai_memory": [
          [
            {
              "node": "AI Agent - Direct Response",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "Brave Search (Direct Response)": {
        "ai_tool": [
          [
            {
              "node": "AI Agent - Direct Response",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent - Direct Response": {
        "main": [
          [
            {
              "node": "Compose Message - Direct",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Compose Message - Direct": {
        "main": [
          [
            {
              "node": "Reply in Telegram (Direct)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "pinData": {},
    "meta": {
      "templateCredsSetupCompleted": true,
      "instanceId": "413509e3cb2730893b274ddf5c9e4497db5bb8d9e8033d511e51a211c7e12940"
    }
  }