n8n mcp/Telegram 2 10 2025 backup .json
{
    "nodes": [
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "check-photo-001",
                "leftValue": "={{ $json.message.photo }}",
                "rightValue": "",
                "operator": {
                  "type": "array",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -3168,
          1232
        ],
        "id": "916729da-b000-4f8c-b0f3-e81da846f956",
        "name": "Check if Image"
      },
      {
        "parameters": {
          "resource": "file",
          "fileId": "={{ $json.message.photo[$json.message.photo.length - 1].file_id }}",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -2944,
          1328
        ],
        "id": "94f460e8-07f2-4153-93db-d83a68abde35",
        "name": "Get Image File",
        "webhookId": "get-image-webhook-001",
        "credentials": {
          "telegramApi": {
            "id": "sl2XyaTKmEdfH4KK",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "resource": "image",
          "operation": "analyze",
          "modelId": {
            "__rl": true,
            "value": "chatgpt-4o-latest",
            "mode": "list",
            "cachedResultName": "CHATGPT-4O-LATEST"
          },
          "options": {
            "detail": "high"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 1.8,
        "position": [
          -2720,
          1328
        ],
        "id": "55ca507f-dd3f-4a84-a497-9a8ba9d48592",
        "name": "Analyze Receipt with Vision",
        "credentials": {
          "openAiApi": {
            "id": "n7FcR0fOh99ziM2b",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "extract-expense-001",
                "name": "text",
                "value": "={{ (() => { try { const analysis = typeof $json.response === 'string' ? JSON.parse($json.response) : ($json.response || $json); const amount = parseFloat(analysis.amount) || 0; const category = analysis.category || 'other'; const merchant = analysis.merchant || 'Unknown'; const items = Array.isArray(analysis.items) ? analysis.items.join(', ') : ''; if (amount > 0) { return `Receipt processed: $${amount.toFixed(2)} at ${merchant} for ${category}${items ? ' (' + items + ')' : ''}`; } return 'Image received but no expense found'; } catch (e) { return 'Receipt image processed'; } })() }}",
                "type": "string"
              },
              {
                "id": "extract-expense-002",
                "name": "expense_data",
                "value": "={{ (() => { try { const analysis = typeof $json.response === 'string' ? JSON.parse($json.response) : ($json.response || $json); return { amount: parseFloat(analysis.amount) || 0, category: analysis.category || 'other', merchant: analysis.merchant || 'Unknown', date: analysis.date || $now.toISO(), items: analysis.items || [], payment_method: analysis.payment_method || 'unknown', notes: analysis.notes || '' }; } catch (e) { return { amount: 0, category: 'other', merchant: 'Unknown', date: $now.toISO(), items: [], payment_method: 'unknown', notes: 'Failed to parse receipt' }; } })() }}",
                "type": "object"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -2432,
          1408
        ],
        "id": "883fee05-2a05-45e9-b1af-b16269430eaf",
        "name": "Format Expense Data"
      },
      {
        "parameters": {
          "updates": [
            "message"
          ],
          "additionalFields": {
            "download": false
          }
        },
        "id": "f5f6c3a2-1ba9-4535-8f33-1ab80c32508d",
        "name": "Telegram Message Trigger1",
        "type": "n8n-nodes-base.telegramTrigger",
        "typeVersion": 1.2,
        "position": [
          -3392,
          1040
        ],
        "webhookId": "61396260-c024-467a-a04e-d71e2ef4fc83",
        "credentials": {
          "telegramApi": {
            "id": "sl2XyaTKmEdfH4KK",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "2b538077-d3d3-4713-b973-68748313ff97",
                "leftValue": "={{ $json.message.voice }}",
                "rightValue": "",
                "operator": {
                  "type": "object",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -3168,
          1040
        ],
        "id": "30514d57-4c07-4691-b281-d1ac5f1f168c",
        "name": "Check if Audio file1"
      },
      {
        "parameters": {
          "resource": "file",
          "fileId": "={{ $json.message.voice.file_id }}",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -2944,
          944
        ],
        "id": "f906ed09-2625-4ab6-b331-815cfb03bae2",
        "name": "Get a file1",
        "webhookId": "a50f0104-6e43-4a08-90f5-3e1dc050e450",
        "credentials": {
          "telegramApi": {
            "id": "sl2XyaTKmEdfH4KK",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "eb912219-2436-4f04-8ffc-c1c20eb07344",
                "name": "text",
                "value": "={{ $json.message.text }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -2720,
          1136
        ],
        "id": "1cdad329-34ce-4aa6-844b-a7618e327a25",
        "name": "Set field1"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "b78b673d-95a4-4d7c-b6a8-91e25c1d368d",
                "name": "user_id",
                "value": "={{ $node[\"Telegram Message Trigger1\"].json.message?.from?.id }}",
                "type": "string"
              },
              {
                "id": "7bb91beb-c6de-414e-ad16-3a029b337bcd",
                "name": "chat_id",
                "value": "={{ $node[\"Telegram Message Trigger1\"].json.message?.chat?.id }}",
                "type": "string"
              },
              {
                "id": "d3ba7439-af55-4838-b22d-bfb71a07472e",
                "name": "user_text",
                "value": "={{ $json.text || $json.transcription || $node[\"Telegram Message Trigger1\"].json.message?.text || '' }}",
                "type": "string"
              },
              {
                "id": "d4a517fd-6abe-4980-a2ae-9efc6101ff3b",
                "name": "ts",
                "value": "={{ $now }}",
                "type": "string"
              },
              {
                "id": "0a5d5b7b-0f36-4b79-9a9b-7d2a99b86a1f",
                "name": "sessionId",
                "value": "={{ $node[\"Telegram Message Trigger1\"].json.message?.chat?.id }}",
                "type": "string"
              },
              {
                "id": "expense-data-field-001",
                "name": "expense_data",
                "value": "={{ $json.expense_data || null }}",
                "type": "object"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -2496,
          1040
        ],
        "id": "308ade76-0435-4c6d-a168-21a39b77ee26",
        "name": "Edit Fields1"
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $('Telegram Message Trigger1').first().json.message.chat.id }}",
          "contextWindowLength": 10
        },
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "typeVersion": 1.3,
        "position": [
          -1696,
          1264
        ],
        "id": "14bcbfec-c592-4485-85ff-f9a5c0786ff7",
        "name": "Simple Memory (Planner)1"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Planner for Budget Guardian\nDecide the next step and output ONLY valid JSON via the provided tool.\nRules:\n- Exactly one of runAnalyst or runPrice MUST be true (the other must be false).\n- If unsure/ambiguous or message is general, set runAnalyst=true and runPrice=false.\n- runAnalyst: budgeting, spending, categories, limits, savings, analyze transactions or numbers, plans.\n- runPrice: cheaper/deals/discounts/coupons/compare/merchant/product/where to buy; product/merchant names, promo codes, student discounts.\n- price_queries: if runPrice=true, add 1–3 concise queries (include region if relevant, e.g., \"US\", and \"student discount\" if applicable).\n- questions_for_user: at most 2 clarifying questions.\nUse the format_final_json_response tool to return your answer. No prose.\n\nUser text:\n{{ $json.user_text }}",
          "hasOutputParser": true,
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2.2,
        "position": [
          -1776,
          1040
        ],
        "id": "ed73da99-03f4-4547-86d3-a318de5ab032",
        "name": "AI Agent - Planner1"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "dcc09466-5438-4cf2-91ce-4773837a6a31",
                "leftValue": "={{ $json.runAnalyst }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "isTrue",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -1088,
          1152
        ],
        "id": "c2b93e4e-a268-40c9-89d6-b2aca8aac599",
        "name": "If runAnalyst?1"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "dcc09466-5438-4cf2-91ce-4773837a6a31",
                "leftValue": "={{ $json.runPrice }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "isTrue",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -1072,
          1584
        ],
        "id": "e9fe7f13-a255-4782-a930-ad668201a88c",
        "name": "If runPrice?1"
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $('Telegram Message Trigger1').first().json.message.chat.id }}",
          "contextWindowLength": 10
        },
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "typeVersion": 1.3,
        "position": [
          -720,
          1280
        ],
        "id": "0ccedffe-6d46-4eb4-93a6-189ff230719a",
        "name": "Simple Memory (Analyst)1"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Financial Analyst Agent\nAnalyze the user's spending text and any embedded transactions (JSON/CSV-like). When data is missing, infer cautiously and ask for what's needed.\nReturn ONLY the fields defined by the connected output parser: insights, top_actions, savings_estimate. Use short strings for arrays.\n\n**USER FINANCIAL PROFILE:**\n{{ $('Merge User Context1').item.json.user_context_summary || 'New user - no previous data.' }}\n\nInput:\n- user_text: {{ $json.user_text }}\n\nConsider the user's historical spending patterns and income when providing insights. If they mention new spending or income, factor it into your analysis.",
          "hasOutputParser": true,
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2.2,
        "position": [
          -800,
          1056
        ],
        "id": "4e2efbaf-0629-4320-907b-a1c578d49509",
        "name": "AI Agent - Analyst1"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "c2d611c7-9833-4cde-8a90-bfb6864a53b0",
                "name": "output",
                "value": "={{ (() => { const a = (typeof $json.analysis === 'object' && $json.analysis) ? $json.analysis : $json; const insights = Array.isArray(a.insights) ? a.insights.slice(0,3) : []; const actions = Array.isArray(a.top_actions) ? a.top_actions.slice(0,3) : []; const se = a.savings_estimate || {}; const weekly = typeof se.weekly === 'number' ? se.weekly : null; const monthly = typeof se.monthly === 'number' ? se.monthly : null; const lines = []; const getUserText = () => { const fromCurrent = $json.user_text; if (typeof fromCurrent === 'string' && fromCurrent.trim().length) return fromCurrent; const fromNormalize = $('Sub Agentic Task1').item.json.user_text; if (typeof fromNormalize === 'string' && fromNormalize.trim().length) return fromNormalize; const fromEdit = $('Edit Fields1').item.json.user_text; return typeof fromEdit === 'string' ? fromEdit : ''; }; if (actions.length || insights.length || weekly !== null || monthly !== null) { lines.push('Here’s your quick budget check-in:'); if (actions.length) { lines.push('Top actions:'); actions.forEach((t,i)=>lines.push(`${i+1}. ${t}`)); } if (weekly !== null || monthly !== null) { const w = weekly !== null ? `$${weekly.toFixed(2)}/wk` : ''; const m = monthly !== null ? ` (~$${monthly.toFixed(2)}/mo)` : ''; lines.push(`Est. savings: ${w}${m}`.trim()); } if (insights.length) { lines.push('Notes: ' + insights.join(' | ')); } } else { const ut = getUserText().slice(0,120); if (ut) { lines.push('Got it: ' + ut + '.'); } lines.push('Tell me the goal: analyze your spending or find cheaper options?'); } lines.push('☑️ Want me to set limits or track a category this week?'); return lines.join('\\n'); })() }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -448,
          1104
        ],
        "id": "c32d60f8-bbaa-4e09-8018-3ea18094fda4",
        "name": "Compose Message - Analyst1"
      },
      {
        "parameters": {
          "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}",
          "additionalParameters": {}
        },
        "type": "@brave/n8n-nodes-brave-search.braveSearchTool",
        "typeVersion": 1,
        "position": [
          -656,
          1792
        ],
        "id": "cb39053e-f68e-4cd2-a4a8-fdc2b9d8db10",
        "name": "Brave Search (Retrieval)1",
        "credentials": {
          "braveSearchApi": {
            "id": "vr0EyDuMtCwAFnz6",
            "name": "Brave Search account"
          }
        }
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $('Telegram Message Trigger1').first().json.message.chat.id }}",
          "contextWindowLength": 10
        },
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "typeVersion": 1.3,
        "position": [
          -784,
          1792
        ],
        "id": "21cee58f-5e9d-41e5-98b5-72c72dd2eff1",
        "name": "Simple Memory (Retrieval)1"
      },
      {
        "parameters": {
          "schemaType": "manual",
          "inputSchema": "{\n  \"type\": \"object\",\n  \"additionalProperties\": false,\n  \"properties\": {\n    \"price_results\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"additionalProperties\": false,\n        \"properties\": {\n          \"merchant\": { \"type\": \"string\" },\n          \"price\": { \"type\": \"string\" },\n          \"title\": { \"type\": \"string\" },\n          \"link\": { \"type\": \"string\" }\n        },\n        \"required\": []\n      },\n      \"minItems\": 0,\n      \"maxItems\": 5\n    }\n  },\n  \"required\": []\n}"
        },
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.3,
        "position": [
          -528,
          1792
        ],
        "id": "bf93fb43-2b28-45a2-8530-1251bda489bd",
        "name": "Structured Output Parser (Retrieval)1"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Data Retrieval Agent (price/deals)\nUse the Brave Search tool. If price_queries exist, start with those; otherwise derive queries. Look for student discounts, coupon codes, cheaper alternatives, bundles, and trustworthy merchants. Extract prices when possible.\nReturn ONLY price_results as per the connected parser with the 3–5 best results.\nInputs:\n- user_text: {{ $json.user_text }}\n- price_queries: {{ $json.price_queries || [] }}",
          "hasOutputParser": true,
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2.2,
        "position": [
          -800,
          1568
        ],
        "id": "87fca759-b421-4bdf-8a93-3420308158f9",
        "name": "AI Agent - Data Retrieval1"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "9a5f4fbe-b60f-4f5f-a90d-80c15b7eccdf",
                "name": "output",
                "value": "={{ (() => { const src = $json.price_results || $json.results || $json.offers || []; const items = Array.isArray(src) ? src.slice(0,3) : []; const lines = []; if (!items.length) { lines.push('I could not find prices yet. Can you specify the product or merchant?'); } else { lines.push('Best options I found:'); items.forEach(it => { const merchant = it.merchant || ''; const price = it.price || ''; const title = it.title || ''; const link = it.link || ''; const line = `• ${merchant} – ${price} – ${title}${link ? ' (' + link + ')' : ''}`; lines.push(line); }); } lines.push('Tip: Check student plans and cancel unused subscriptions to save more.'); lines.push('☑️ Want me to set a monthly cap or alerts for this category?'); return lines.join('\\n'); })() }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -448,
          1600
        ],
        "id": "93e36b95-9c9a-4e67-9f80-2abc9468247d",
        "name": "Compose Message - Price1"
      },
      {
        "parameters": {
          "schemaType": "manual",
          "inputSchema": "{\n  \"type\": \"object\",\n  \"additionalProperties\": false,\n  \"properties\": {\n    \"runAnalyst\": { \"type\": \"boolean\", \"description\": \"Exactly one of runAnalyst or runPrice must be true.\" },\n    \"runPrice\": { \"type\": \"boolean\", \"description\": \"Exactly one of runAnalyst or runPrice must be true.\" },\n    \"price_queries\": {\n      \"type\": \"array\",\n      \"items\": { \"type\": \"string\" },\n      \"minItems\": 0,\n      \"maxItems\": 3,\n      \"description\": \"If runPrice=true, include 1–3 concise queries; otherwise leave empty.\"\n    },\n    \"questions_for_user\": {\n      \"type\": \"array\",\n      \"items\": { \"type\": \"string\" },\n      \"minItems\": 0,\n      \"maxItems\": 2\n    }\n  },\n  \"required\": [\"runAnalyst\", \"runPrice\", \"price_queries\", \"questions_for_user\"]\n}"
        },
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.3,
        "position": [
          -1568,
          1264
        ],
        "id": "3d5398f9-5fd9-42da-8014-e272b72f092a",
        "name": "Structured Output Parser1"
      },
      {
        "parameters": {
          "schemaType": "manual",
          "inputSchema": "{\n  \"type\": \"object\",\n  \"additionalProperties\": false,\n  \"properties\": {\n    \"insights\": { \"type\": \"array\", \"items\": { \"type\": \"string\" }, \"minItems\": 0, \"maxItems\": 5 },\n    \"top_actions\": { \"type\": \"array\", \"items\": { \"type\": \"string\" }, \"minItems\": 0, \"maxItems\": 5 },\n    \"savings_estimate\": {\n      \"type\": \"object\",\n      \"additionalProperties\": false,\n      \"properties\": {\n        \"weekly\": { \"type\": \"number\" },\n        \"monthly\": { \"type\": \"number\" }\n      }\n    }\n  },\n  \"required\": []\n}"
        },
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.3,
        "position": [
          -592,
          1280
        ],
        "id": "7df9b2e5-cd55-4bb4-81ee-19db2328fd71",
        "name": "Structured Output Parser (Analyst)1"
      },
      {
        "parameters": {
          "operation": "get",
          "tableId": "user_profiles",
          "filters": {
            "conditions": [
              {
                "keyName": "user_id",
                "keyValue": "={{ $json.user_id }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          -2272,
          1040
        ],
        "id": "11635ff4-7952-4581-93ef-39fe2bbff2fe",
        "name": "Fetch User Profile1",
        "alwaysOutputData": true,
        "credentials": {
          "supabaseApi": {
            "id": "4lrtFcWMFMluvyaj",
            "name": "Supabase account"
          }
        },
        "continueOnFail": true
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "user-context-merge-001",
                "name": "user_id",
                "value": "={{ $('Edit Fields1').item.json.user_id }}",
                "type": "string"
              },
              {
                "id": "user-context-merge-002",
                "name": "chat_id",
                "value": "={{ $('Edit Fields1').item.json.chat_id }}",
                "type": "string"
              },
              {
                "id": "user-context-merge-003",
                "name": "user_text",
                "value": "={{ $('Edit Fields1').item.json.user_text }}",
                "type": "string"
              },
              {
                "id": "user-context-merge-004",
                "name": "sessionId",
                "value": "={{ $('Edit Fields1').item.json.sessionId }}",
                "type": "string"
              },
              {
                "id": "user-context-merge-005",
                "name": "user_profile",
                "value": "={{ (() => { const profile = $json; if (!profile || !profile.user_id) { return { monthly_income: null, monthly_spending: {}, categories: { groceries: 0, gas: 0, dining: 0, entertainment: 0, utilities: 0, other: 0 }, budget_limits: {}, spending_goals: [], last_updated: null, total_conversations: 0 }; } return { monthly_income: profile.monthly_income || null, monthly_spending: profile.monthly_spending || {}, categories: profile.categories || { groceries: 0, gas: 0, dining: 0, entertainment: 0, utilities: 0, other: 0 }, budget_limits: profile.budget_limits || {}, spending_goals: profile.spending_goals || [], last_updated: profile.last_updated || null, total_conversations: (profile.total_conversations || 0) + 1, notes: profile.notes || '' }; })() }}",
                "type": "object"
              },
              {
                "id": "user-context-merge-006",
                "name": "user_context_summary",
                "value": "={{ (() => { const profile = $json; if (!profile || !profile.user_id) { return 'New user - no previous data.'; } const parts = []; if (profile.monthly_income) { parts.push(`Monthly income: $${profile.monthly_income}`); } const cats = profile.categories || {}; const spending = []; if (cats.groceries) spending.push(`Groceries: $${cats.groceries}`); if (cats.gas) spending.push(`Gas: $${cats.gas}`); if (cats.dining) spending.push(`Dining: $${cats.dining}`); if (cats.entertainment) spending.push(`Entertainment: $${cats.entertainment}`); if (spending.length) { parts.push(`Monthly spending - ${spending.join(', ')}`); } const limits = profile.budget_limits || {}; if (Object.keys(limits).length) { parts.push(`Budget limits set for: ${Object.keys(limits).join(', ')}`); } if (profile.spending_goals && profile.spending_goals.length) { parts.push(`Goals: ${profile.spending_goals.join('; ')}`); } if (profile.notes) { parts.push(`Notes: ${profile.notes}`); } return parts.length ? parts.join(' | ') : 'User exists but no financial data yet.'; })() }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -2048,
          1040
        ],
        "id": "939dec35-866c-4aac-b060-8281619bad0a",
        "name": "Merge User Context1"
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $('Telegram Message Trigger1').first().json.message.chat.id }}",
          "contextWindowLength": 10
        },
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "typeVersion": 1.3,
        "position": [
          32,
          1024
        ],
        "id": "3fc7d00b-aebf-4e76-917d-02bfc7d3ce34",
        "name": "Simple Memory (Direct Response)1"
      },
      {
        "parameters": {
          "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}",
          "additionalParameters": {}
        },
        "type": "@brave/n8n-nodes-brave-search.braveSearchTool",
        "typeVersion": 1,
        "position": [
          176,
          1008
        ],
        "id": "b1c0bdda-906c-4ed5-8589-4bf9a5b01e9c",
        "name": "Brave Search (Direct Response)1",
        "credentials": {
          "braveSearchApi": {
            "id": "vr0EyDuMtCwAFnz6",
            "name": "Brave Search account"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Direct Response AI Assistant\n\nYou are a helpful AI assistant for Budget Guardian. Answer the user's query directly using web search when needed.\n\n**USER FINANCIAL PROFILE:**\n{{ $('Merge User Context1').item.json.user_context_summary || 'New user - no previous data.' }}\n\nFor queries about finding products, prices, or locations:\n- Use Brave Search to find current information\n- Include specific store names and locations\n- Mention prices when available\n- Provide addresses or specific locations in the user's area\n- If the user mentions a city (like Waterloo, Kitchener, etc.), focus on that area\n- Consider their budget and spending patterns when recommending options\n\nFor financial questions:\n- Reference their known income and spending categories\n- Provide personalized advice based on their profile\n- If they share NEW financial info (income, spending amounts), acknowledge it\n\nFor general queries:\n- Provide helpful, concise answers\n- Use search when you need current information\n- Be friendly and conversational\n\nUser query: {{ $json.user_text || $('Edit Fields1').item.json.user_text }}",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2.2,
        "position": [
          -48,
          784
        ],
        "id": "578535ea-ab15-45f4-aab0-9b56a0df5e15",
        "name": "AI Agent - Direct Response1"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "e5f6a7b8-c9d0-1234-ef01-345678901234",
                "name": "output",
                "value": "={{ (() => { const response = $json.output || $json.text || $json.response || ''; if (typeof response === 'string' && response.trim()) { return response; } return 'I found some information for you, but had trouble formatting it. Please try rephrasing your question.'; })() }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          384,
          944
        ],
        "id": "e0fb9db5-9b62-4b04-a0c4-ed8bde4828e5",
        "name": "Compose Message - Direct1"
      },
      {
        "parameters": {
          "chatId": "={{ $('Telegram Message Trigger1').first().json.message.chat.id }}",
          "text": "={{ $json.output }}",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          752,
          992
        ],
        "id": "ca5c214a-9880-478c-828b-a34c7361e2cc",
        "name": "Reply in Telegram (Direct)1",
        "webhookId": "direct-response-webhook-id",
        "credentials": {
          "telegramApi": {
            "id": "sl2XyaTKmEdfH4KK",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "extract-profile-001",
                "name": "user_id",
                "value": "={{ $('Merge User Context1').item.json.user_id }}",
                "type": "string"
              },
              {
                "id": "extract-profile-002",
                "name": "monthly_income",
                "value": "={{ (() => { const text = ($json.output || $json.user_text || '').toLowerCase(); const existing = $('Merge User Context1').item.json.user_profile?.monthly_income; const incomeMatch = text.match(/(?:income|earn|make|salary).*?\\$?([0-9,]+)/i); if (incomeMatch) { return parseFloat(incomeMatch[1].replace(/,/g, '')); } const perMonth = text.match(/\\$?([0-9,]+)\\s*(?:per month|monthly|a month)/i); if (perMonth) { return parseFloat(perMonth[1].replace(/,/g, '')); } return existing || null; })() }}",
                "type": "number"
              },
              {
                "id": "extract-profile-003",
                "name": "categories",
                "value": "={{ (() => { const text = ($json.output || $json.user_text || '').toLowerCase(); const existing = $('Merge User Context1').item.json.user_profile?.categories || {}; const categories = { ...existing }; const expenseData = $('Edit Fields1').item.json.expense_data; if (expenseData && expenseData.amount > 0) { const cat = expenseData.category || 'other'; categories[cat] = (categories[cat] || 0) + expenseData.amount; } const patterns = [ { key: 'groceries', regex: /(?:groceries|food|supermarket).*?\\$?([0-9,]+)/i }, { key: 'gas', regex: /(?:gas|fuel|petrol).*?\\$?([0-9,]+)/i }, { key: 'dining', regex: /(?:dining|restaurant|eating out).*?\\$?([0-9,]+)/i }, { key: 'entertainment', regex: /(?:entertainment|movies|streaming).*?\\$?([0-9,]+)/i }, { key: 'utilities', regex: /(?:utilities|bills|electricity|water|internet).*?\\$?([0-9,]+)/i } ]; patterns.forEach(p => { const match = text.match(p.regex); if (match) { categories[p.key] = parseFloat(match[1].replace(/,/g, '')); } }); return categories; })() }}",
                "type": "object"
              },
              {
                "id": "extract-profile-004",
                "name": "budget_limits",
                "value": "={{ $('Merge User Context1').item.json.user_profile?.budget_limits || {} }}",
                "type": "object"
              },
              {
                "id": "extract-profile-005",
                "name": "spending_goals",
                "value": "={{ $('Merge User Context1').item.json.user_profile?.spending_goals || [] }}",
                "type": "json"
              },
              {
                "id": "extract-profile-006",
                "name": "total_conversations",
                "value": "={{ ($('Merge User Context1').item.json.user_profile?.total_conversations || 0) + 1 }}",
                "type": "number"
              },
              {
                "id": "extract-profile-007",
                "name": "last_updated",
                "value": "={{ $now.toISO() }}",
                "type": "string"
              },
              {
                "id": "extract-profile-008",
                "name": "notes",
                "value": "={{ (() => { const existing = $('Merge User Context1').item.json.user_profile?.notes || ''; const expenseData = $('Edit Fields1').item.json.expense_data; if (expenseData && expenseData.amount > 0) { const newNote = `[${$now.toFormat('yyyy-MM-dd')}] Receipt: $${expenseData.amount} at ${expenseData.merchant} (${expenseData.category})`; return existing ? existing + '\\n' + newNote : newNote; } return existing; })() }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1168,
          992
        ],
        "id": "eb999bbf-dd21-4d1c-9b10-6fea3ae8c34b",
        "name": "Extract Profile Updates1"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "check-user-exists-001",
                "leftValue": "={{ $('Fetch User Profile1').item.json.user_id }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1392,
          992
        ],
        "id": "6f423964-1686-4df4-ab33-f4cd4a55a8e3",
        "name": "Check if User Exists1"
      },
      {
        "parameters": {
          "operation": "update",
          "tableId": "user_profiles",
          "matchType": "allFilters",
          "filters": {
            "conditions": [
              {
                "keyName": "user_id",
                "condition": "eq",
                "keyValue": "={{ $json.user_id }}"
              }
            ]
          },
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "monthly_income",
                "fieldValue": "={{ $json.monthly_income }}"
              },
              {
                "fieldId": "categories",
                "fieldValue": "={{ $json.categories }}"
              },
              {
                "fieldId": "budget_limits",
                "fieldValue": "={{ $json.budget_limits }}"
              },
              {
                "fieldId": "spending_goals",
                "fieldValue": "={{ $json.spending_goals }}"
              },
              {
                "fieldId": "total_conversations",
                "fieldValue": "={{ $json.total_conversations }}"
              },
              {
                "fieldId": "last_updated",
                "fieldValue": "={{ $json.last_updated }}"
              },
              {
                "fieldId": "notes",
                "fieldValue": "={{ $json.notes }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          1616,
          896
        ],
        "id": "6f1e4ab7-7e0d-4f8d-bcf2-bc17dba02921",
        "name": "Update User Profile1",
        "credentials": {
          "supabaseApi": {
            "id": "4lrtFcWMFMluvyaj",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "tableId": "user_profiles",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "user_id",
                "fieldValue": "={{ $json.user_id }}"
              },
              {
                "fieldId": "monthly_income",
                "fieldValue": "={{ $json.monthly_income }}"
              },
              {
                "fieldId": "categories",
                "fieldValue": "={{ $json.categories }}"
              },
              {
                "fieldId": "budget_limits",
                "fieldValue": "={{ $json.budget_limits }}"
              },
              {
                "fieldId": "spending_goals",
                "fieldValue": "={{ $json.spending_goals }}"
              },
              {
                "fieldId": "total_conversations",
                "fieldValue": "={{ $json.total_conversations }}"
              },
              {
                "fieldId": "last_updated",
                "fieldValue": "={{ $json.last_updated }}"
              },
              {
                "fieldId": "notes",
                "fieldValue": "={{ $json.notes }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          1616,
          1088
        ],
        "id": "c1719872-a5e4-4345-ba20-bb40d9c66a15",
        "name": "Create User Profile1",
        "credentials": {
          "supabaseApi": {
            "id": "4lrtFcWMFMluvyaj",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a31a1f3e-2a90-4a4e-8f0a-6b0b2b4f2c01",
                "name": "runAnalyst",
                "value": "={{ (() => { const toBool = (v) => { if (typeof v === 'boolean') return v; if (typeof v === 'string') { const s = v.trim().toLowerCase(); if (['true','1','yes','y'].includes(s)) return true; if (['false','0','no','n'].includes(s)) return false; } if (typeof v === 'number') return v !== 0; return false; }; const getText = () => { const current = $json.user_text; if (typeof current === 'string' && current.trim().length) return current; const fromEdit = $('Edit Fields1').item.json.user_text; return typeof fromEdit === 'string' ? fromEdit : ''; }; const text = getText(); const t = text.toLowerCase(); const hints = ['price','prices','cheaper','cheap','cheapest','deal','deals','discount','discounts','coupon','coupons','promo','code','compare','comparison','student plan','student discount','bundle','bundles','where to buy','retailer','merchant','buy','purchase','cost','costs','renewal','subscription price','sale','sales','promo code','best deal','best price','cheapest place']; const hasPrice = hints.some(k => t.indexOf(k) !== -1); const plannerPrice = toBool($json.runPrice); const price = hasPrice || plannerPrice; return !price; })() }}",
                "type": "boolean"
              },
              {
                "id": "b52b8c2a-2c63-4f3a-94cc-0e56d7a7c1f2",
                "name": "runPrice",
                "value": "={{ (() => { const toBool = (v) => { if (typeof v === 'boolean') return v; if (typeof v === 'string') { const s = v.trim().toLowerCase(); if (['true','1','yes','y'].includes(s)) return true; if (['false','0','no','n'].includes(s)) return false; } if (typeof v === 'number') return v !== 0; return false; }; const getText = () => { const current = $json.user_text; if (typeof current === 'string' && current.trim().length) return current; const fromEdit = $('Edit Fields1').item.json.user_text; return typeof fromEdit === 'string' ? fromEdit : ''; }; const t = getText().toLowerCase(); const hints = ['price','prices','cheaper','cheap','cheapest','deal','deals','discount','discounts','coupon','coupons','promo','code','compare','comparison','student plan','student discount','bundle','bundles','where to buy','retailer','merchant','buy','purchase','cost','costs','renewal','subscription price','sale','sales','promo code','best deal','best price','cheapest place']; const hasPrice = hints.some(k => t.indexOf(k) !== -1); const plannerPrice = toBool($json.runPrice); return hasPrice || plannerPrice; })() }}",
                "type": "boolean"
              },
              {
                "id": "a28821b7-2b62-4cd2-8beb-b00b02d3d33d",
                "name": "user_text",
                "value": "={{ (() => { const current = $json.user_text; if (typeof current === 'string' && current.trim().length) return current; const fromEdit = $('Edit Fields1').item.json.user_text; return typeof fromEdit === 'string' ? fromEdit : ''; })() }}",
                "type": "string"
              },
              {
                "id": "da2b7fb9-7b0d-4a81-9f55-fb0e5d7145bb",
                "name": "price_queries",
                "value": "={{ (() => { const toBool = (v) => { if (typeof v === 'boolean') return v; if (typeof v === 'string') { const s = v.trim().toLowerCase(); if (['true','1','yes','y'].includes(s)) return true; if (['false','0','no','n'].includes(s)) return false; } if (typeof v === 'number') return v !== 0; return false; }; const getText = () => { const current = $json.user_text; if (typeof current === 'string' && current.trim().length) return current; const fromEdit = $('Edit Fields1').item.json.user_text; return typeof fromEdit === 'string' ? fromEdit : ''; }; const rawText = getText(); const textLower = rawText.toLowerCase(); const hints = ['price','prices','cheaper','cheap','cheapest','deal','deals','discount','discounts','coupon','coupons','promo','code','compare','comparison','student plan','student discount','bundle','bundles','where to buy','retailer','merchant','buy','purchase','cost','costs','renewal','subscription price','sale','sales','promo code','best deal','best price','cheapest place']; const hasPrice = hints.some(k => textLower.indexOf(k) !== -1); const plannerPrice = toBool($json.runPrice); const shouldPrice = hasPrice || plannerPrice; const existing = Array.isArray($json.price_queries) ? $json.price_queries.filter(q => typeof q === 'string' && q.trim().length) : []; if (!shouldPrice) { return []; } if (existing.length) { return existing.slice(0,3); } const stop = new Set(['find','me','please','you','help','need','want','would','like','look','looking','for','a','an','the','cheap','cheaper','cheapest','price','prices','cost','costs','deal','deals','discount','discounts','where','to','buy','get','in','near','around','waterloo','ontario','canada']); const tokens = rawText.split(/[^a-zA-Z0-9]+/).map(t => t.trim()).filter(Boolean); const filtered = tokens.filter(t => { const lower = t.toLowerCase(); if (stop.has(lower)) return false; return /^[a-z0-9]+$/i.test(t); }); const productTokens = filtered.map(t => t.replace(/^[\"'`]+|[\"'`]+$/g, '')); const product = productTokens.length ? productTokens.join(' ') : (rawText.trim() || 'grocery item'); const location = (() => { if (textLower.includes('kitchener')) return 'Kitchener Ontario'; if (textLower.includes('cambridge')) return 'Cambridge Ontario'; if (textLower.includes('toronto')) return 'Toronto Ontario'; if (textLower.includes('guelph')) return 'Guelph Ontario'; return 'Waterloo Ontario'; })(); const base = product.trim(); const queries = []; const seen = new Set(); const pushQuery = (q) => { const key = q.toLowerCase(); if (!seen.has(key) && q.trim()) { seen.add(key); queries.push(q.trim()); } }; pushQuery('best price ' + base + ' ' + location); pushQuery('cheap ' + base + ' deals ' + location); pushQuery(base + ' discount ' + location); if (!queries.length) { pushQuery(base + ' price ' + location); } return queries.slice(0,3); })() }}",
                "type": "json"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -1328,
          1376
        ],
        "id": "44969b49-54d4-4b3f-844c-d97d71a14a78",
        "name": "Sub Agentic Task1"
      },
      {
        "parameters": {
          "model": "openai/gpt-oss-120b",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
        "typeVersion": 1,
        "position": [
          -1840,
          1264
        ],
        "id": "0dc9a5cb-8b2d-4d5e-b1cc-3766a2c9f7dd",
        "name": "Groq Chat Model4",
        "credentials": {
          "groqApi": {
            "id": "AFEhhW2jthXCot4t",
            "name": "Groq account"
          }
        }
      },
      {
        "parameters": {
          "model": "openai/gpt-oss-120b",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
        "typeVersion": 1,
        "position": [
          -848,
          1280
        ],
        "id": "57b67a8a-0b86-49f2-bd04-88be411bcb6e",
        "name": "Groq Chat Model5",
        "credentials": {
          "groqApi": {
            "id": "AFEhhW2jthXCot4t",
            "name": "Groq account"
          }
        }
      },
      {
        "parameters": {
          "model": "openai/gpt-oss-120b",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
        "typeVersion": 1,
        "position": [
          -80,
          1008
        ],
        "id": "07a8e717-33be-4e5d-b676-ed7b5c8566ce",
        "name": "Groq Chat Model6",
        "credentials": {
          "groqApi": {
            "id": "AFEhhW2jthXCot4t",
            "name": "Groq account"
          }
        }
      },
      {
        "parameters": {
          "model": "openai/gpt-oss-120b",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
        "typeVersion": 1,
        "position": [
          -896,
          1792
        ],
        "id": "26bd148e-1be7-4707-94a9-d6a25d5bbecb",
        "name": "Groq Chat Model7",
        "credentials": {
          "groqApi": {
            "id": "AFEhhW2jthXCot4t",
            "name": "Groq account"
          }
        }
      },
      {
        "parameters": {
          "resource": "audio",
          "operation": "transcribe",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 1.8,
        "position": [
          -2704,
          928
        ],
        "id": "0fc5e60e-68d0-4bdc-baeb-105644aa4f43",
        "name": "Transcribe audio1",
        "credentials": {
          "openAiApi": {
            "id": "n7FcR0fOh99ziM2b",
            "name": "OpenAi account"
          }
        }
      }
    ],
    "connections": {
      "Check if Image": {
        "main": [
          [
            {
              "node": "Get Image File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Image File": {
        "main": [
          [
            {
              "node": "Analyze Receipt with Vision",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Analyze Receipt with Vision": {
        "main": [
          [
            {
              "node": "Format Expense Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Expense Data": {
        "main": [
          [
            {
              "node": "Edit Fields1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Telegram Message Trigger1": {
        "main": [
          [
            {
              "node": "Check if Audio file1",
              "type": "main",
              "index": 0
            },
            {
              "node": "Check if Image",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check if Audio file1": {
        "main": [
          [
            {
              "node": "Get a file1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Set field1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get a file1": {
        "main": [
          [
            {
              "node": "Transcribe audio1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set field1": {
        "main": [
          [
            {
              "node": "Edit Fields1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields1": {
        "main": [
          [
            {
              "node": "Fetch User Profile1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Simple Memory (Planner)1": {
        "ai_memory": [
          [
            {
              "node": "AI Agent - Planner1",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent - Planner1": {
        "main": [
          [
            {
              "node": "Sub Agentic Task1",
              "type": "main",
              "index": 0
            },
            {
              "node": "AI Agent - Direct Response1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If runAnalyst?1": {
        "main": [
          [
            {
              "node": "AI Agent - Analyst1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If runPrice?1": {
        "main": [
          [
            {
              "node": "AI Agent - Data Retrieval1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Simple Memory (Analyst)1": {
        "ai_memory": [
          [
            {
              "node": "AI Agent - Analyst1",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent - Analyst1": {
        "main": [
          [
            {
              "node": "Compose Message - Analyst1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Compose Message - Analyst1": {
        "main": [
          [
            {
              "node": "AI Agent - Direct Response1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Brave Search (Retrieval)1": {
        "ai_tool": [
          [
            {
              "node": "AI Agent - Data Retrieval1",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Simple Memory (Retrieval)1": {
        "ai_memory": [
          [
            {
              "node": "AI Agent - Data Retrieval1",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "Structured Output Parser (Retrieval)1": {
        "ai_outputParser": [
          [
            {
              "node": "AI Agent - Data Retrieval1",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent - Data Retrieval1": {
        "main": [
          [
            {
              "node": "Compose Message - Price1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Compose Message - Price1": {
        "main": [
          [
            {
              "node": "AI Agent - Direct Response1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Structured Output Parser1": {
        "ai_outputParser": [
          [
            {
              "node": "AI Agent - Planner1",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "Structured Output Parser (Analyst)1": {
        "ai_outputParser": [
          [
            {
              "node": "AI Agent - Analyst1",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "Fetch User Profile1": {
        "main": [
          [
            {
              "node": "Merge User Context1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge User Context1": {
        "main": [
          [
            {
              "node": "AI Agent - Planner1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Simple Memory (Direct Response)1": {
        "ai_memory": [
          [
            {
              "node": "AI Agent - Direct Response1",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "Brave Search (Direct Response)1": {
        "ai_tool": [
          [
            {
              "node": "AI Agent - Direct Response1",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent - Direct Response1": {
        "main": [
          [
            {
              "node": "Compose Message - Direct1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Compose Message - Direct1": {
        "main": [
          [
            {
              "node": "Reply in Telegram (Direct)1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Reply in Telegram (Direct)1": {
        "main": [
          [
            {
              "node": "Extract Profile Updates1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Profile Updates1": {
        "main": [
          [
            {
              "node": "Check if User Exists1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check if User Exists1": {
        "main": [
          [
            {
              "node": "Update User Profile1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Create User Profile1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Sub Agentic Task1": {
        "main": [
          [
            {
              "node": "If runAnalyst?1",
              "type": "main",
              "index": 0
            },
            {
              "node": "If runPrice?1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Groq Chat Model4": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent - Planner1",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Groq Chat Model5": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent - Analyst1",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Groq Chat Model6": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent - Direct Response1",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Groq Chat Model7": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent - Data Retrieval1",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Transcribe audio1": {
        "main": [
          [
            {
              "node": "Edit Fields1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "pinData": {},
    "meta": {
      "templateCredsSetupCompleted": true,
      "instanceId": "413509e3cb2730893b274ddf5c9e4497db5bb8d9e8033d511e51a211c7e12940"
    }
  }