n8n mcp/telegrambackup.json
{
    "nodes": [
      {
        "parameters": {
          "updates": [
            "message"
          ],
          "additionalFields": {
            "download": false
          }
        },
        "id": "a7599b03-3003-4603-8356-9b65c767b771",
        "name": "Telegram Message Trigger",
        "type": "n8n-nodes-base.telegramTrigger",
        "typeVersion": 1.2,
        "position": [
          -2512,
          192
        ],
        "webhookId": "61396260-c024-467a-a04e-d71e2ef4fc83",
        "credentials": {
          "telegramApi": {
            "id": "sl2XyaTKmEdfH4KK",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "2b538077-d3d3-4713-b973-68748313ff97",
                "leftValue": "={{ $json.message.voice }}",
                "rightValue": "",
                "operator": {
                  "type": "object",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -2288,
          192
        ],
        "id": "562f438c-7a5a-468e-b580-a5ef84669a50",
        "name": "Check if Audio file"
      },
      {
        "parameters": {
          "resource": "file",
          "fileId": "={{ $json.message.voice.file_id }}",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -2064,
          96
        ],
        "id": "c7612637-ec05-4f44-8cb1-79a0d5a8f73b",
        "name": "Get a file",
        "webhookId": "a50f0104-6e43-4a08-90f5-3e1dc050e450",
        "credentials": {
          "telegramApi": {
            "id": "sl2XyaTKmEdfH4KK",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "resource": "audio",
          "operation": "transcribe",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 1.8,
        "position": [
          -1840,
          96
        ],
        "id": "62512f50-eff0-4e65-addf-fcc0e2527039",
        "name": "Transcribe audio",
        "credentials": {
          "openAiApi": {
            "id": "n7FcR0fOh99ziM2b",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "eb912219-2436-4f04-8ffc-c1c20eb07344",
                "name": "text",
                "value": "={{ $json.message.text }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -1840,
          288
        ],
        "id": "0988d68b-1d87-4b3b-ad89-7c195c8d5fe9",
        "name": "Set field"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "b78b673d-95a4-4d7c-b6a8-91e25c1d368d",
                "name": "user_id",
                "value": "={{ $node[\"Telegram Message Trigger\"].json.message?.from?.id }}",
                "type": "string"
              },
              {
                "id": "7bb91beb-c6de-414e-ad16-3a029b337bcd",
                "name": "chat_id",
                "value": "={{ $node[\"Telegram Message Trigger\"].json.message?.chat?.id }}",
                "type": "string"
              },
              {
                "id": "d3ba7439-af55-4838-b22d-bfb71a07472e",
                "name": "user_text",
                "value": "={{ $json.text || $json.transcription || $node[\"Telegram Message Trigger\"].json.message?.text || '' }}",
                "type": "string"
              },
              {
                "id": "d4a517fd-6abe-4980-a2ae-9efc6101ff3b",
                "name": "ts",
                "value": "={{ $now }}",
                "type": "string"
              },
              {
                "id": "0a5d5b7b-0f36-4b79-9a9b-7d2a99b86a1f",
                "name": "sessionId",
                "value": "={{ $node[\"Telegram Message Trigger\"].json.message?.chat?.id }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -1616,
          192
        ],
        "id": "f7987fd2-356c-4bfb-98d3-9c8956c4d28b",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "gpt-4.1-nano",
            "mode": "list",
            "cachedResultName": "gpt-4.1-nano"
          },
          "options": {
            "temperature": 0
          }
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "position": [
          -1392,
          416
        ],
        "id": "2c0f4d2e-2284-447a-a2e9-839e7b1ecfea",
        "name": "OpenAI Chat Model (Planner)",
        "credentials": {
          "openAiApi": {
            "id": "n7FcR0fOh99ziM2b",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $('Telegram Message Trigger').first().json.message.chat.id }}",
          "contextWindowLength": 10
        },
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "typeVersion": 1.3,
        "position": [
          -1264,
          416
        ],
        "id": "e021e9db-9659-4b7e-b488-c40e41392044",
        "name": "Simple Memory (Planner)"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Planner for Budget Guardian\nDecide the next step and output ONLY valid JSON via the provided tool.\nRules:\n- Exactly one of runAnalyst or runPrice MUST be true (the other must be false).\n- If unsure/ambiguous or message is general, set runAnalyst=true and runPrice=false.\n- runAnalyst: budgeting, spending, categories, limits, savings, analyze transactions or numbers, plans.\n- runPrice: cheaper/deals/discounts/coupons/compare/merchant/product/where to buy; product/merchant names, promo codes, student discounts.\n- price_queries: if runPrice=true, add 1–3 concise queries (include region if relevant, e.g., \"US\", and \"student discount\" if applicable).\n- questions_for_user: at most 2 clarifying questions.\nUse the format_final_json_response tool to return your answer. No prose.\n\nUser text:\n{{ $json.user_text }}",
          "hasOutputParser": true,
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2.2,
        "position": [
          -1264,
          192
        ],
        "id": "1411dd0d-cfc6-4173-a2b1-7f21e1e56c08",
        "name": "AI Agent - Planner"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a31a1f3e-2a90-4a4e-8f0a-6b0b2b4f2c01",
                "name": "runAnalyst",
                "value": "={{ (() => { const toBool = (v) => { if (typeof v === 'boolean') return v; if (typeof v === 'string') { const s = v.trim().toLowerCase(); if (['true','1','yes','y'].includes(s)) return true; if (['false','0','no','n'].includes(s)) return false; } if (typeof v === 'number') return v !== 0; return false; }; let a = toBool($json.runAnalyst); let p = toBool($json.runPrice); if (a === p) { const t = ($json.user_text || '').toLowerCase(); const hints = ['price','cheaper','cheap','deal','discount','coupon','promo','code','compare','comparison','student plan','student discount','bundle','where to buy','retailer','merchant','buy','purchase','cost','renewal','subscription price','sale','promo code','best deal']; const hasPrice = hints.some(k => t.includes(k)); a = !hasPrice; } return a; })() }}",
                "type": "boolean"
              },
              {
                "id": "b52b8c2a-2c63-4f3a-94cc-0e56d7a7c1f2",
                "name": "runPrice",
                "value": "={{ (() => { const toBool = (v) => { if (typeof v === 'boolean') return v; if (typeof v === 'string') { const s = v.trim().toLowerCase(); if (['true','1','yes','y'].includes(s)) return true; if (['false','0','no','n'].includes(s)) return false; } if (typeof v === 'number') return v !== 0; return false; }; let a = toBool($json.runAnalyst); let p = toBool($json.runPrice); if (a === p) { const t = ($json.user_text || '').toLowerCase(); const hints = ['price','cheaper','cheap','deal','discount','coupon','promo','code','compare','comparison','student plan','student discount','bundle','where to buy','retailer','merchant','buy','purchase','cost','renewal','subscription price','sale','promo code','best deal']; const hasPrice = hints.some(k => t.includes(k)); p = hasPrice; } return p; })() }}",
                "type": "boolean"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -1040,
          192
        ],
        "id": "9d8bbdd6-4021-4d3e-b874-df4067ec1c0f",
        "name": "Normalize Flags"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "dcc09466-5438-4cf2-91ce-4773837a6a31",
                "leftValue": "={{ $json.runAnalyst }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "isTrue",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -816,
          32
        ],
        "id": "2822f94c-8d13-4d24-87f6-2908c3030b9c",
        "name": "If runAnalyst?"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "dcc09466-5438-4cf2-91ce-4773837a6a31",
                "leftValue": "={{ $json.runPrice }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "isTrue",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -800,
          400
        ],
        "id": "c3e070fe-b30e-4cf6-afbf-54013f2d64d5",
        "name": "If runPrice?"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "gpt-4.1-nano",
            "mode": "list",
            "cachedResultName": "gpt-4.1-nano"
          },
          "options": {
            "temperature": 0
          }
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "position": [
          -496,
          112
        ],
        "id": "ccc583e0-3c37-4252-b8ff-9c0ef5755d83",
        "name": "OpenAI Chat Model (Analyst)",
        "credentials": {
          "openAiApi": {
            "id": "n7FcR0fOh99ziM2b",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $('Telegram Message Trigger').first().json.message.chat.id }}",
          "contextWindowLength": 10
        },
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "typeVersion": 1.3,
        "position": [
          -368,
          112
        ],
        "id": "eccb5a9c-caef-489a-a36a-5e513d90af13",
        "name": "Simple Memory (Analyst)"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Financial Analyst Agent\nAnalyze the user's spending text and any embedded transactions (JSON/CSV-like). When data is missing, infer cautiously and ask for what's needed.\nReturn ONLY the fields defined by the connected output parser: insights, top_actions, savings_estimate. Use short strings for arrays.\nInput:\n- user_text: {{ $json.user_text }}",
          "hasOutputParser": true,
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2.2,
        "position": [
          -512,
          -112
        ],
        "id": "81d1ac79-398b-429c-ab16-7d39431c4c60",
        "name": "AI Agent - Analyst"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "c2d611c7-9833-4cde-8a90-bfb6864a53b0",
                "name": "output",
                "value": "={{ (() => { const a = (typeof $json.analysis === 'object' && $json.analysis) ? $json.analysis : $json; const insights = Array.isArray(a.insights) ? a.insights.slice(0,3) : []; const actions = Array.isArray(a.top_actions) ? a.top_actions.slice(0,3) : []; const se = a.savings_estimate || {}; const weekly = typeof se.weekly === 'number' ? se.weekly : null; const monthly = typeof se.monthly === 'number' ? se.monthly : null; const lines = []; if (actions.length || insights.length || weekly !== null || monthly !== null) { lines.push('Here\\u2019s your quick budget check-in:'); if (actions.length) { lines.push('Top actions:'); actions.forEach((t,i)=>lines.push(`${i+1}. ${t}`)); } if (weekly !== null || monthly !== null) { const w = weekly !== null ? `$${weekly.toFixed(2)}/wk` : ''; const m = monthly !== null ? ` (~$${monthly.toFixed(2)}/mo)` : ''; lines.push(`Est. savings: ${w}${m}`.trim()); } if (insights.length) { lines.push('Notes: ' + insights.join(' | ')); } } else { const ut = ($json.user_text || '').slice(0,120); lines.push(`Got it: \"${ut}\".`); lines.push('Tell me the goal: analyze your spending or find cheaper options?'); } lines.push('☑️ Want me to set limits or track a category this week?'); return lines.join('\\n'); })() }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          176,
          192
        ],
        "id": "147661ab-935b-49b0-9d7f-e1ac8c150061",
        "name": "Compose Message - Analyst"
      },
      {
        "parameters": {
          "chatId": "={{ $('Telegram Message Trigger').first().json.message.chat.id }}",
          "text": "={{ $json.output }}",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          592,
          192
        ],
        "id": "12c2c45d-e7fc-4560-b764-fce9756c8682",
        "name": "Reply in Telegram (Analyst)",
        "webhookId": "6abf7904-74f3-41ac-b395-792a9a2579a4",
        "credentials": {
          "telegramApi": {
            "id": "sl2XyaTKmEdfH4KK",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "gpt-4.1-nano",
            "mode": "list",
            "cachedResultName": "gpt-4.1-nano"
          },
          "options": {
            "temperature": 0
          }
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "position": [
          -560,
          624
        ],
        "id": "e11f3562-8a8e-45e4-88c4-950e3d21fbb5",
        "name": "OpenAI Chat Model (Data Retrieval)",
        "credentials": {
          "openAiApi": {
            "id": "n7FcR0fOh99ziM2b",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}",
          "additionalParameters": {}
        },
        "type": "@brave/n8n-nodes-brave-search.braveSearchTool",
        "typeVersion": 1,
        "position": [
          -304,
          672
        ],
        "id": "91f58171-2e49-4ea3-86f1-bd7e1003b48f",
        "name": "Brave Search (Retrieval)",
        "credentials": {
          "braveSearchApi": {
            "id": "vr0EyDuMtCwAFnz6",
            "name": "Brave Search account"
          }
        }
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $('Telegram Message Trigger').first().json.message.chat.id }}",
          "contextWindowLength": 10
        },
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "typeVersion": 1.3,
        "position": [
          -432,
          624
        ],
        "id": "8bebc4a8-3c85-4a15-ab9d-501a262fa10e",
        "name": "Simple Memory (Retrieval)"
      },
      {
        "parameters": {
          "schemaType": "manual",
          "inputSchema": "{\n  \"type\": \"object\",\n  \"additionalProperties\": false,\n  \"properties\": {\n    \"price_results\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"additionalProperties\": false,\n        \"properties\": {\n          \"merchant\": { \"type\": \"string\" },\n          \"price\": { \"type\": \"string\" },\n          \"title\": { \"type\": \"string\" },\n          \"link\": { \"type\": \"string\" }\n        },\n        \"required\": []\n      },\n      \"minItems\": 0,\n      \"maxItems\": 5\n    }\n  },\n  \"required\": []\n}"
        },
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.3,
        "position": [
          -176,
          624
        ],
        "id": "dff0b3c3-577f-4ce2-9cb1-f5f2fc167b4f",
        "name": "Structured Output Parser (Retrieval)"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Data Retrieval Agent (price/deals)\nUse the Brave Search tool. If price_queries exist, start with those; otherwise derive queries. Look for student discounts, coupon codes, cheaper alternatives, bundles, and trustworthy merchants. Extract prices when possible.\nReturn ONLY price_results as per the connected parser with the 3–5 best results.\nInputs:\n- user_text: {{ $json.user_text }}\n- price_queries: {{ $json.price_queries || [] }}",
          "hasOutputParser": true,
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2.2,
        "position": [
          -512,
          400
        ],
        "id": "5d6b0224-cd0e-4596-bc1d-bbadbd28bd06",
        "name": "AI Agent - Data Retrieval"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "9a5f4fbe-b60f-4f5f-a90d-80c15b7eccdf",
                "name": "output",
                "value": "={{ (() => { const src = $json.price_results || $json.results || $json.offers || []; const items = Array.isArray(src) ? src.slice(0,3) : []; const lines = []; if (!items.length) { lines.push('I could not find prices yet. Can you specify the product or merchant?'); } else { lines.push('Best options I found:'); items.forEach(it => { const merchant = it.merchant || ''; const price = it.price || ''; const title = it.title || ''; const link = it.link || ''; const line = `• ${merchant} – ${price} – ${title}${link ? ' (' + link + ')' : ''}`; lines.push(line); }); } lines.push('Tip: Check student plans and cancel unused subscriptions to save more.'); lines.push('☑️ Want me to set a monthly cap or alerts for this category?'); return lines.join('\\n'); })() }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          176,
          464
        ],
        "id": "329b938c-c980-4876-a2ae-65e2c755a0d1",
        "name": "Compose Message - Price"
      },
      {
        "parameters": {
          "chatId": "={{ $('Telegram Message Trigger').first().json.message.chat.id }}",
          "text": "={{ $json.output }}",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          592,
          464
        ],
        "id": "1e03fbed-872b-4874-8094-14332b8d9861",
        "name": "Reply in Telegram (Price)",
        "webhookId": "b567d159-b715-4bfd-ba22-2737f581123f",
        "credentials": {
          "telegramApi": {
            "id": "sl2XyaTKmEdfH4KK",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "schemaType": "manual",
          "inputSchema": "{\n  \"type\": \"object\",\n  \"additionalProperties\": false,\n  \"properties\": {\n    \"runAnalyst\": { \"type\": \"boolean\", \"description\": \"Exactly one of runAnalyst or runPrice must be true.\" },\n    \"runPrice\": { \"type\": \"boolean\", \"description\": \"Exactly one of runAnalyst or runPrice must be true.\" },\n    \"price_queries\": {\n      \"type\": \"array\",\n      \"items\": { \"type\": \"string\" },\n      \"minItems\": 0,\n      \"maxItems\": 3,\n      \"description\": \"If runPrice=true, include 1–3 concise queries; otherwise leave empty.\"\n    },\n    \"questions_for_user\": {\n      \"type\": \"array\",\n      \"items\": { \"type\": \"string\" },\n      \"minItems\": 0,\n      \"maxItems\": 2\n    }\n  },\n  \"required\": [\"runAnalyst\", \"runPrice\", \"price_queries\", \"questions_for_user\"]\n}"
        },
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.3,
        "position": [
          -1104,
          400
        ],
        "id": "bce74b53-fefa-46bf-8c8a-4535ca8ef165",
        "name": "Structured Output Parser"
      },
      {
        "parameters": {
          "schemaType": "manual",
          "inputSchema": "{\n  \"type\": \"object\",\n  \"additionalProperties\": false,\n  \"properties\": {\n    \"insights\": { \"type\": \"array\", \"items\": { \"type\": \"string\" }, \"minItems\": 0, \"maxItems\": 5 },\n    \"top_actions\": { \"type\": \"array\", \"items\": { \"type\": \"string\" }, \"minItems\": 0, \"maxItems\": 5 },\n    \"savings_estimate\": {\n      \"type\": \"object\",\n      \"additionalProperties\": false,\n      \"properties\": {\n        \"weekly\": { \"type\": \"number\" },\n        \"monthly\": { \"type\": \"number\" }\n      }\n    }\n  },\n  \"required\": []\n}"
        },
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.3,
        "position": [
          -240,
          112
        ],
        "id": "09d9cd25-39b5-4777-8ac8-a40b4cb97d7d",
        "name": "Structured Output Parser (Analyst)"
      }
    ],
    "connections": {
      "Telegram Message Trigger": {
        "main": [
          [
            {
              "node": "Check if Audio file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check if Audio file": {
        "main": [
          [
            {
              "node": "Get a file",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Set field",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get a file": {
        "main": [
          [
            {
              "node": "Transcribe audio",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Transcribe audio": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set field": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "AI Agent - Planner",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model (Planner)": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent - Planner",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Simple Memory (Planner)": {
        "ai_memory": [
          [
            {
              "node": "AI Agent - Planner",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent - Planner": {
        "main": [
          [
            {
              "node": "Normalize Flags",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normalize Flags": {
        "main": [
          [
            {
              "node": "If runAnalyst?",
              "type": "main",
              "index": 0
            },
            {
              "node": "If runPrice?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If runAnalyst?": {
        "main": [
          [
            {
              "node": "AI Agent - Analyst",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "AI Agent - Analyst",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If runPrice?": {
        "main": [
          [
            {
              "node": "AI Agent - Data Retrieval",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model (Analyst)": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent - Analyst",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Simple Memory (Analyst)": {
        "ai_memory": [
          [
            {
              "node": "AI Agent - Analyst",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent - Analyst": {
        "main": [
          [
            {
              "node": "Compose Message - Analyst",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Compose Message - Analyst": {
        "main": [
          [
            {
              "node": "Reply in Telegram (Analyst)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model (Data Retrieval)": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent - Data Retrieval",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Brave Search (Retrieval)": {
        "ai_tool": [
          [
            {
              "node": "AI Agent - Data Retrieval",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Simple Memory (Retrieval)": {
        "ai_memory": [
          [
            {
              "node": "AI Agent - Data Retrieval",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "Structured Output Parser (Retrieval)": {
        "ai_outputParser": [
          [
            {
              "node": "AI Agent - Data Retrieval",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent - Data Retrieval": {
        "main": [
          [
            {
              "node": "Compose Message - Price",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Compose Message - Price": {
        "main": [
          [
            {
              "node": "Reply in Telegram (Price)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Structured Output Parser": {
        "ai_outputParser": [
          [
            {
              "node": "AI Agent - Planner",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "Structured Output Parser (Analyst)": {
        "ai_outputParser": [
          [
            {
              "node": "AI Agent - Analyst",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      }
    },
    "pinData": {},
    "meta": {
      "templateCredsSetupCompleted": true,
      "instanceId": "413509e3cb2730893b274ddf5c9e4497db5bb8d9e8033d511e51a211c7e12940"
    }
  }